@page "/brands/edit/{BrandId:long}"
@using FashionStoreViewModel;
@using FashionStoreWebApp.Services

@attribute [Authorize(Roles = "admin")]
@inject NavigationManager Navigation
@inject IBrandService BrandService

<h3>EditBrand</h3>

@code {
	[Parameter]
	public long BrandId { get; set; }
	private BrandVm Brand;

	protected override async void OnParametersSet()
	{
		await GetBrandDetail();
		base.OnParametersSet();
	}

	private async Task GetBrandDetail()
	{
		if (BrandId > 0) {
			Brand = await BrandService.GetBrandByIdAsync(BrandId);
		} else {
			Brand = new BrandVm();
		}
	}


}
