<div class="admin-footer text-center text-white">
	<p class="pt-3">Copyright ©2025 All rights reserved</p>
</div>
<style>
	.admin-footer {
		background-color: #111111;
		height: 50px
	}
</style>
@code {

}
