@inherits LayoutComponentBase
@using FashionStoreWebApp.Layout.NavMenu;
@using Blazored.Toast.Configuration;
@using FashionStoreWebApp.Constants;
@using FashionStoreWebApp.Layout.Footer;

@inject AuthenticationStateProvider AuthStateProvider

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="ConstantValues.NOTIFY_TIME_OUT"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" 
                ShowProgressBar="true" />

@if (isAdmin) {
    <div class="page d-flex">
        <div class="sidebar" style="width: 15%">
            <AdminNavMenu />
        </div>
        <main style="width: 85%">
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
    <AdminFooter />
}
else {
    <UserNavMenu />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <UserFooter />
}



@code {
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        Console.WriteLine(user.ToString());
        if (user != null && user.Identity.IsAuthenticated)
        {
            isAdmin = user.IsInRole("Admin");
        }
    }

}
