@using FashionStoreWebApp.Services

@inject NavigationManager Navigation
@inject IAccountManagementService AccountManagementService
@inject IJSRuntime JS


<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-end" id="sidebar-wrapper">
        <div class="sidebar-heading text-white bg-transparent py-3 px-3">
            <img src="img/logo.png" alt="">
        </div>
        <div class="list-group list-group-flush">
            <a href="/brands" class="list-group-item list-group-item-action bg-light">
                <i class="fa-solid fa-award ml-4 mr-2"></i> Brands
            </a>
            <a href="/products" class="list-group-item list-group-item-action bg-light">
                <i class="fa-solid fa-box ml-4 mr-2"></i> Products
            </a>
            <a href="/categories" class="list-group-item list-group-item-action bg-light">
                <i class="fa-solid fa-list ml-4 mr-2"></i> Categories
            </a>
            <a href="/roles" class="list-group-item list-group-item-action bg-light">
                <i class="fa-solid fa-gear ml-4 mr-2"></i> Roles
            </a>
            <a href="/users" class="list-group-item list-group-item-action bg-light">
                <i class="fa-solid fa-users ml-4 mr-2"></i> Users
            </a>
            <a href="/orders" class="list-group-item list-group-item-action bg-light">
                <i class="fa-solid fa-money-check-dollar ml-4 mr-2"></i> Orders
            </a>
            <a class="list-group-item list-group-item-action bg-light" @onclick="logout">
                <i class="fa-solid fa-right-from-bracket ml-4 mr-2"></i> Logout
            </a>
        </div>
    </div>
</div>
<style>
    #sidebar-wrapper {
        min-height: 100vh;
        width: 250px;
        transition: margin-left 0.3s;
    }

    #page-content-wrapper {
        width: 100%;
        transition: margin-left 0.3s;
    }

    .list-group-item {
        border: none;
        padding: 1rem;
    }

    .list-group-item:hover {
        background-color: #333 !important;
    }

    .sidebar-heading {
        font-size: 1.25rem;
        font-weight: bold;
    }

    /* Collapsed Sidebar */
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }

    /* Toggle Button */
    #menu-toggle {
        display: none;
    }


</style>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task logout() {
        await AccountManagementService.LogoutAsync();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}